body {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    margin: 0%;
    background-color: #ebebeb;
}    

header {
    background-color: #EAC926;
}

main {
    display: block;
    margin: 0 auto;
    width: 90%;
}
     
.titulares {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}
 
.descuentos {
    font-size: 16px;
    color: #44ab64;
}

.descripciones {
    font-size: 16px;
}
 
.logo-ml {
    width: 150px;
    margin:20px;
}

.search {
    margin-left: 20px;
    margin-top: 20px;
}

.search input {
    width: 200px;
}

form input, form select {
    display: block;
    margin-bottom: 10px;
}

.categories {
    margin: 10px 0;
}

.categories label {
    padding-right: 10px;
}

.categories input[type="checkbox"] {
    display: inline-block;
    margin-bottom: 10px;
}

#lupa {
    margin-top: 2px;
    background-color: white;
    padding: 2px;
    border: 1px solid rgb(118, 118, 118);
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: #03264C;
    color: #ebebeb;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 30px;
}

.cuotas {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    margin-left: -30px;   
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.icono {
    font-size: 2em; 
    margin-bottom: 10px;
    color: blue;
}

.final {
    text-align: left;
}

.separation {
   padding-bottom:10px;
}

section div {
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.fa-solid.fa-truck {
    font-weight: 900;
    padding: 10px;
    color: #44ab64;
    border: 1px solid grey;
    border-radius: 50%;
    line-height: 15px;
}
